name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  backend-test:
    runs-on: ubuntu-latest

  
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      #  Installation des bibliothèques système nécessaires à MariaDB
      - name: Install MariaDB system libs
        run: |
          sudo apt-get update
          sudo apt-get install -y libmariadb3 libmariadb-dev

      #  Installation des dépendances Python
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install pytest mariadb
          

      # Lancement des tests
      - name: Run tests
        run: pytest tests/ --maxfail=1 --disable-warnings -q
